.h1 * {
  background: linear-gradient(to bottom, #fff 50%, #5cb1c7 50%, #5cb1c7 90%, #FFF 90%)
}

.h1:hover * {
  background: linear-gradient(to bottom, #5cb1c7 30%, #5cb1c7 30%, #5cb1c7 80%, #5cb1c7 80%)
}

.center {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60%;
  width: 50%;

  
}

.textNav{
  font-family: Prompt, sans-serif;
  font-size: 16px;
}

.readmore {
  color: #00acdc;
  font-family: Prompt, sans-serif;
}

.textSm {
  color: rgb(122,122,122);
  font-family: Prompt, sans-serif;
}

.textTitle2 {
  background: linear-gradient(to left, #00acdc 0%, #6966b0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600px;
  font-size: 42px;
  position: relative;
  font-weight: bold;
}


.bgHero {
  background-image: url('/image/BG-Banner-10.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.div_background {
  background-image: url('https://www.mfec.co.th/wp-content/uploads/2022/05/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.textSlide1 {
  left: 130px;
  bottom: -1.5px;
  position: absolute;
  opacity: 0;
  transition: .5s;
}


.textSlide {
  left: 150px;
  bottom: -1.5px;
  position: absolute;
  opacity: 0;
  transition: .5s;
}

.imgCard {
  width: 133px;
  height: 117px;

}

.textSlide:hover {
  display: block;
}

.card:hover {
  transform: scale(1.08);

}

.card:hover .textSlide {
  opacity: 1;
}

.card:hover .textSlide1 {
  opacity: 1;
}

.textCard {
  font-weight: 600;
  font-size: 21px;
  font-family: Prompt, sans-serif;
  color: rgb(23, 23, 23);
  position: relative;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: white;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 515px;
  transition: .5s all ease-in-out;

}

.textTitle1 {
  background: linear-gradient(to left, #00acdc 0%, #6966b0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600px;
  font-size: 18px;
  position: relative;
  font-weight: bold;
}



.textTitle {
  background: linear-gradient(to left, #00acdc 0%, #6966b0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600px;
  font-size: 18px;
  position: relative;
  font-weight: bold;
  text-align: center;
}

.textMain1 {
  color: rgb(43, 43, 43);
  font-family: Prompt, sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.textMain {
  color: rgb(43, 43, 43);
  font-family: Prompt, sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  width: 2000px;

}


.bg_footer{
  background-image: linear-gradient(to left, #139fd4 0%, #5871b7 100%);
}

.footer p{
  color: white;
  font-size: 14px;
  font-family: Prompt, sans-serif;
  font-weight: 400;
}

.footer h3{
  color: white;
  font-family: Prompt, sans-serif;
  font-size: 16px;
  font-weight: 700;
}



.social_icon {
  width: 400px;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  margin-top: 30px;
  font-size: 25px;
}

.social_icon li a {
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social_icon li a:hover {
  transform: translateY(-10px);
}

.menu_text {
  font-family: Prompt, sans-serif;
  font-size: 14px;
  color: white;
}


.applyNow {
  background-color: rgb(173, 232, 248, 0.125);
  border: none;
  font-size: 10.5px;
  font-family: Prompt, sans-serif;
  font-weight: 400;
  align-items: center;
  padding: 3px 8px 3px 8px;
  color: rgb(173, 232, 248);
}

.textSpan {
  color: white;
  font-size: 14px;
  font-family: Prompt, sans-serif;
  font-weight: 600;
}

.Recommend {
  background-color: rgb(222, 222, 222, 0.125);
  border: none;
  font-size: 10.5px;
  font-family: Prompt, sans-serif;
  font-weight: 400;
  align-items: center;
  padding: 3px 8px 3px 8px;
  color: rgb(222, 222, 222);
}

.icon_phone {
  background-color: rgb(0, 172, 220);
  padding: 13px;
  border-radius: 100%;
  margin-top: 8px;
  font-size: 45px;
  color: white;
}

.icon_phone1 {
  background-color: rgb(0, 172, 220);
  padding: 10px;
  border-radius: 100%;
  margin-top: 8px;
  font-size: 45px;
  color: white;
}

.line {
  display: flex;
  width: 900px;
  border-top: 1px solid white;
  position: relative;
  margin-left: 30px;
  justify-content: center;
}

.buttonColor {
  width: 90px;
  background: linear-gradient(310deg, rgb(0, 172, 220) 16%, rgb(105, 105, 176) 100%);
  border: none;
  font-size: 18px;
  font-family: Prompt, sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 3px 8px 3px 8px;
  color: white;
}



.buttonColor1 {
  width: 130px;
  background: linear-gradient(310deg, rgb(0, 172, 220) 16%, rgb(105, 105, 176) 100%);
  border: none;
  font-size: 18px;
  font-family: Prompt, sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 6px 12px 6px 12px;
  color: white;
}

.words span {
  position: absolute;
  top: 0;
  font-weight: bold;
  color: #0070f3;
  margin-left: 10px;
  animation: spin_words 12s infinite;
  opacity: 0;
}

.words span:nth-child(2){
  animation-delay: 2s;
}

.words span:nth-child(3){
  animation-delay: 4s;
}

.words span:nth-child(4){
  animation-delay: 6s;
}

.words span:nth-child(5){
  animation-delay: 8s;
}

.words span:nth-child(6){
  animation-delay: 10s;
}

@keyframes spin_words{
  0%{
    opacity: 0;
    transform: translatex(-50px);
  }
  2%{
    opacity: 1;
    transform: translatex(0);
  }
  10%{
    opacity: 1;
    transform: translatex(0);
  }
  12%{
    opacity: 0;
    transform: translatex(50px);
  }
  100%{
    opacity: 0;
    transform: translatex(50px);
  }
}

.wrapper{
  font-family: sans-serif;
  width: 45%;
  font-weight: bold;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}


